* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.redButton,
.greenButton {
    border: none;
    outline: none;
    height: 55px;
    border-radius: 8px;
    padding: 8px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    width: 240px;
}

.redButton:focus,
.greenButton:focus {
    border: none;
    outline: none;
}

.redButton {
    margin-bottom: 15px;
    background-color: #e00f0f;
}

.greenButton {
    background-color: #00b126;
}

@media screen and (max-width: 250px) {
    .redButton,
    .greenButton {
        width: 90vw;
        font-size: 7vw;
    }
}